# Node
node_modules/
yarn-error.log
npm-debug.*

# Expo
.expo/
__generated__
web-build/

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*


# Ruby
.direnv

# VSCode
.history/

# Env
.envrc.local

# Xcode
*.pbxuser
!default.pbxuser
*.xccheckout
*.xcscmblueprint
xcuserdata

# macOS
.DS_Store
